<%- include('partials/header.html') %>

<section class="noticia-destaque">
    <div class="center">
        <div class="img-destaque">
            <div class="overlay-destaque"></div>
            <div class="title-destaque-descricao">
                <h2>Eventos</h2>
                <p>Veja agora todos os eventos Riot Games.</p>
            </div>
            <img src="/public/images/fundo.png" />
        </div>
    </div>
    <div class="center">
    <div class="todos-eventos">
      <h3>VALORANT CHAMPIONS TOUR AMÉRICAS</h3>
      <p>VCT AMÉRICAS</p>
      <div class="mais-lidas-eventos">
          <div class="mais-lidas-eventos-single">
              <img src="/public/images/vct americas.jpg" />
              <div class="texto-mais-lida-partidas">    
              </div>
          </div> 

          <div class="mais-lidas-eventos2">
            <h3>VALORANT CHAMPIONS TOUR EMEA</h3>
            <p>VCT EMEA</p>
            <div class="mais-lidas-eventos-single2">
              <img src="/public/images/emea.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 

          <div class="mais-lidas-eventos3">
            <h3>VALORANT GAME CHANGERS</h3>
            <p>GAME CHANGERS</p>
            <div class="mais-lidas-eventos-single3">
              <img src="/public/images/gamechangers.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 

          <div class="mais-lidas-eventos4">
            <h3>CAMPEONATO BRASILEIRO DE LOL</h3>
            <p>CBLOL</p>
            <div class="mais-lidas-eventos-single3">
              <img src="/public/images/cblool.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
    
      </div>
    </div>
  </div>
        
      </div>
  </div>
  </div>
  </section>

<%- include('partials/footer.html') %>
</body>
</html>