<%- include('partials/header.html') %>

<section class="noticia-destaque">
    <div class="center">
        <div class="img-destaque">
            <div class="overlay-destaque"></div>
            <div class="title-destaque-descricao">
                <h2>Resultados</h2>
                <p>Veja agora todos os resultados Riot Games.</p>
            </div>
            <img src="/public/images/fundo.png" />
        </div>
    </div>
    <div class="center">
    <div class="todas-partidas">
      <h3>LOUD VS FURIA - Valorant Lock In</h3>
      <p>13-7</p>
      <div class="mais-lidas-partidas">
          <div class="mais-lidas-partidas-single">
              <img src="/public/images/logoloudd.png" />
              <img src="/public/images/logofuria.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
          </div> 
          <div class="mais-lidas-partidas2">
            <h3>FNATIC VS SENTINELS - Valorant Lock In</h3>
            <p>10-13</p>
            <div class="mais-lidas-partidas-single">
              <img src="/public/images/logofnatic.png" />
              <img src="/public/images/logosen.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
  
          <div class="mais-lidas-partidas3">
            <h3>MIBR VS LIQUID - Valorant Lock In</h3>
            <p>13-11</p>
            <div class="mais-lidas-partidas-single">
              <img src="/public/images/logomibr.png" />
              <img src="/public/images/logoliquid.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
  
          <div class="mais-lidas-partidas4">
            <h3>DRX VS NRG - Valorant Lock In</h3>
            <p>10-13</p>
            <div class="mais-lidas-partidas-single">
              <img src="/public/images/logodrx.png" />
              <img src="/public/images/logonrg.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
  
          <div class="mais-lidas-partidas5">
            <h3>LOUD VS FURIA - CBLOL</h3>
            <p>1-0</p>
            <div class="mais-lidas-partidas-single">
              <img src="/public/images/logoloudd.png" />
              <img src="/public/images/logofuria.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
  
          <div class="mais-lidas-partidas6">
            <h3>FLUXO VS VKS - CBLOL</h3>
            <p>1-0</p>
            <<div class="mais-lidas-partidas-single">
              <img src="/public/images/logofluxo.png" />
              <img src="/public/images/logovks.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
  
          <div class="mais-lidas-partidas7">
            <h3>INTZ VS KABUM - CBLOL</h3>
            <p>0-1</p>
            <div class="mais-lidas-partidas-single">
              <img src="/public/images/logointz.png" />
              <img src="/public/images/logokabum.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
  
          <div class="mais-lidas-partidas8">
            <h3>PAIN VS RED CANIDS - CBLOL</h3>
            <p>1-0</p>
            <div class="mais-lidas-partidas-single">
              <img src="/public/images/logopain.png" />
              <img src="/public/images/logoredcanids.png" />
              <div class="texto-mais-lida-partidas">    
              </div>
            </div>
  
          </div> 
  
  
      </div>
  
     
  
    </div>
  </div>
  </div>
  </div>
  </section>


<%- include('partials/footer.html') %>
</body>
</html>